@tailwind base;
@tailwind components;
@tailwind utilities;


/* For testing purpose */
/* body{
    background-color: #9f4444;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */